# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Environment variables
.env

# VS Code settings
.vscode/

# macOS and Windows junk
.DS_Store
Thumbs.db

# Python logs
*.log
